@import "tailwindcss";
@plugin "daisyui";

@theme{
    --font-oswald: var(--font-oswald), sans-serif;
    --color-my-brand: #ccff00;
}

body{
    font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}